<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>Favoritas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-content class="ion-padding">
	<div class="cards">
    	<img class="img" src="../../assets/imagem4.jpg">
    	<div class="text">
    		<h3 class="title">
    			República Studium
    		</h3>
    		<p class="comment">
    			comentario
    		</p>
    	</div>
    	<p class="button1">
    		<a href="">Ver anúncio</a>
    	</p>
    </div>
</ion-content>
