<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>Hommy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-content class="ion-padding">
    <div class="cards">
    	<img class="img" src="../../assets/imagem1.jpg">
    	<div class="text">
    		<h3 class="title">
    			República Mílio
    		</h3>
    		<p class="comment">
    			comentario
    		</p>
    	</div>
    	<p class="button1">
    		<a href="">Ver anúncio</a>
    	</p>
    </div>
    <div class="cards">
    	<img class="img" src="../../assets/imagem4.jpg">
    	<div class="text">
    		<h3 class="title">
    			República Studium
    		</h3>
    		<p class="comment">
    			comentario
    		</p>
    	</div>
    	<p class="button1">
    		<a href="">Ver anúncio</a>
    	</p>
    </div>
    <div class="cards" *ngFor='let dadosRepublica of dadosRepublicas'>
        <img class="img" src="../../assets/imagem1.jpg">
        <div class="text">
            <h3 class="title">
                {{dadosRepublica.nomeRepublica}}
            </h3>
            <div>
                <p class="comment">
                    {{dadosRepublica.endereco}}
                </p>
                <p class="comment">
                    {{dadosRepublica.quantidadeDeQuartos}}
                </p>
                <p class="comment">
                    {{dadosRepublica.preco}}
                </p>
            </div>
        </div>
        <ion-button expand="full" color="light">Ver anúncio</ion-button>
    </div>
</ion-content>
